---
include:
  - template: Workflows/Branch-Pipelines.gitlab-ci.yml

stages:
  - build
  - git-sync

build:
  stage: build
  image:
    name: docker.io/martizih/kaniko:v1.26.5-debug@sha256:e402135385d718516d6f9b45c412d79108e320b3f1147784c5514ef151300d43
    entrypoint: [""]
  script:
    - export DKR_IMAGE="$(echo $CI_PROJECT_PATH | tr '[:upper:]' '[:lower:]')"
    - mkdir -p /root/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /root/.docker/config.json
    - >-
      /kaniko/executor
      --context $CI_PROJECT_DIR
      --dockerfile $CI_PROJECT_DIR/Dockerfile
      --cache
      --label org.opencontainers.image.created="$CREATED_DATE"
      --label org.opencontainers.image.revision="$CI_COMMIT_SHA"
      --destination ${CI_REGISTRY_IMAGE}:latest
  only:
    - master
  except:
    - triggers

git-sync:
  script:
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | base64 -d | ssh-add -
    - git sync-remote
        git@github.com:${CI_PROJECT_PATH}.git
        git@git.boo.tc:${CI_PROJECT_PATH}.git
  stage: git-sync
  image: dkr.boo.tc/bootc/github-gitlab-sync:latest
  only:
    - triggers

# vim: ai ts=2 sw=2 et sts=2 ft=yaml
